@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/open-sans.woff2') format('woff2'),
         url('../../fonts/open-sans.woff') format('woff');
}


.body{
    color: #FFF;
    font-family: Open Sans;
}

.main__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100svw;
    height: auto;
}

.noscroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.hidden {
    display: none;
}

@media (max-width: 414px) {

    .body{
        width: 100svw;
    }

}

